@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
    background-color: #0F315C;
    font-family: "sora";
    margin: 0;
}
main{
    text-align: center;
}
h1 {
    color: #4CC8FF;
    font-size: 40px;
    margin: 100px 0 0;
}

.seta-1 {
    position: absolute;
    top: 160px; 
    left: 650px;
}

.seta-2 {
    position: absolute;
    top: 380px;
    right: 600px;
}

.square-2 {
    font-size: 11px;
    color: #ffffff;
    border: solid #000000 1px;
    background-color: #19B100;
    padding: 4px;
    position: absolute;
    right: 530px;
    top: 410px;
}

.square-1 {
    font-size: 11px;
    border: solid #000000 2px;
    background-color: #FDB32F;
    position: absolute;
    top: 140px;
    left: 590px;
    padding:4px;
    font-weight: bold;
}

.sessao-1 p {
    color: #ffffff;
    text-align: center;
}

button {
    border: solid 1px white;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    color: #ffffff;
    background-color: #0F315C;
    margin-top: 30px;
    margin-bottom: 80px;
}

section .plug {
    height: 40px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0F315C;
    margin-top: -30px;
    
    
    background-image: url(https://raw.githubusercontent.com/awescolar/aw-2024/master/background/img/vector.png), url(https://raw.githubusercontent.com/awescolar/aw-2024/master/background/img/vector-2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center left, center right;
}

section hr {
    margin-top: 23px;
    border: 2px solid white;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;

}

footer {
    border-top: 3px solid #FDB32F;
    margin-top: 100px;
    min-height: 320px;
    background: linear-gradient(90deg,#213F8C 50%, #1E3980 69.17%, #1B3373 100%);
    color: #ffffff;
}
span {
    color: #FDB32F;
}

.mensagem { 
    margin-top: 40px;
}

footer div {
    float: left;
}

footer .midias, .endereco{
    margin-left: 200px;
}

.contacto{
    margin-top: 20px;
}

.midias img {
    padding: 5px;
}
.logo-2 {
    border-top: 1px solid #4CC8FF;
    margin-top: 30px;
    width: 100%;
}


