body {
    font-family: "Lato", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

main {
    max-width: 1200px;
}

.logo {
    padding-top: 150px;
    font-size: 14px;
    color: #656D77;
}

.logo img {
    float: left;
    margin-right: 10px;
    width: 65px;
}

.logo h1 {
    margin-bottom: 7px;
    margin-top: auto;
    color:#0C2A43;
    font-size: 30px;
}

.logo div {
    max-width: 200px;
    margin-left: auto;
}

.ilustracao {
    position:absolute;
    right: 200px;
    top: 150px;
}

.login .welcome {
    color: #0C2A43;
    margin-top: 150px;
}

.login .welcome h1 {
    font-size: 50px;
    margin: 0;
}

.welcome p {
    margin-top: 10px;
    line-height: 23px;
}

.welcome button {
    margin-top:20px;
    border: none;
    border-radius: 3px;
    background-color: #12B76A;
    width: 190px;
    height: 45px;
    color: #ffff;
    font-size: 16px;
    font-weight: bold;
}

/* Segunda parte do Site - Inicial.html */

header .cabecalho {
    margin-left: auto;
    margin-right: auto;
    background-color: #0C2A43;
    color: #FFFFFF;
    height: 60px;
}

header .cabecalho figure {
    float: left;
    margin: 20px 15px 0 100px;
}

header .cabecalho h1 {
    margin: 0;
    padding-top: 20px;
    font-size: 20px;
}

header .cabecalho i {
    color:#ffffff;
}

header .cabecalho div {
    text-decoration: none;
    position: absolute;
    right: 8%;
    top: 25px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

header nav {
    background-color: #FFFFFF;
    height: 60px;
}

header .cabecalho li {
    color: black;
    float: left;
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;
} 

header .cabecalho li a, 
header .cabecalho li a i {
    color: #0C2A43;
}

header .cabecalho ul {
    margin-left: 40px;
    color:#0C2A43;
}

header .cabecalho .verde {
    color: #12B76A;
    font-weight: bold;
}

header .cabecalho .button {
    border: 1px solid #656d777e;
    border-radius: 5px;
    margin-left: 1200px;
    padding: 10px 35px;
    font-weight: bold;
}

.container {
    max-height: 690px;
}

main .bloco-1 {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 5px 10px 30px 10px #979a9e;
    margin-left: 30%;
    margin-top: 150px;
    width: 600px;
}

.aulas h1 {
    color: #12B76A;
    float: left;
    font-size: 100px;
    margin: 0;
    margin-left: 30px;
    margin-top: 0;
    width: 80px;
}

.aulas h2 {
    padding-top: 17px;
    color: #0C2A43;
}

.aulas h3 {
    font-size: 14px;
    padding-top: 5px;
    color: #656D77;
    font-weight: normal;
}

.aulas h2,
.aulas h3 {
    margin: 0;
    width: 400px;
}

.bloco-1 .datas {
    padding-top: 50px;
}

.bloco-1 .baesse {
    border-top: 1px solid #f3dfdf;
    border-bottom: 1px solid #f3dfdf;
    background-color: #F1F1F1;
    height: 70px; 
    padding-top: 10px;
    padding-left: 25px;
    font-size: 14px;
}

.cinza {
    color: #656D77;
}

.bloco-1 .datas .data-1 {
    margin: 30px 40px;
}

.data-1 .fa-angle-up:before {
    margin-left: 95px;
}

.data-2 .fa-angle-up:before {
    margin-left: 75px;
}
.data-3 .fa-angle-up:before {
    margin-left: 92px;
}

.bloco-1 .datas .data-2,
.bloco-1 .datas .data-3 {
    margin: 40px;
}

.bloco-1 .cinza .resp {
    border-right: 2px solid #656D77;
    margin-top: 10px;
    width: 160px;
}

.cinza .mat {
    bottom: 45px;
    left: 175px;
    margin-top: 10px;
    max-width: min-content;
    position: relative;
}

.bloco-1 .rodape-bloco1 p {
    color: #979a9e;
    font-size: small;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-top: 35px;
}

.bloco-1 .rodape-bloco1 {
    background-color: #F1F1F1;
    border-top: 1px solid #f3dfdf;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
    padding-top:10px;
}

.bloco-1 .button-2 {
    margin-left: 20px;
}

.bloco-1 a {
    background-color: #12B76A;
    border-radius: 5px;
    bottom: 30px;
    font-size: x-small;
    font-weight: 600;
    left: 380px;
    padding: 10px 15px 10px 15px;
    position: relative;
    width: 200px;
}

main .bloco-2 {
    background-color: #FFFFFF;
    border-radius: 5px;
    position: relative;
    bottom: 560px;
    box-shadow: 5px 10px 30px 10px #979a9e;
    height: 300px;
    left: 85%;
    width: 450px;
}

.bloco-2 h2 {
    font-weight: 500;
    padding-top: 20px;
    padding-left: 40px;
    color: #0C2A43;
    font-size: 25px;
}

.bloco-2 p {
    padding-left: 40px;
}

.bloco-2 .verde {
    color: #12B76A;
    margin-top: 20px;
    font-size: 16px;
}

.bloco-2 .verde i {
    margin-left: 190px;
}

.bloco-2 .text a {
    color: #0C2A43;
    max-width: 100px;
    text-decoration: underline;
}

.bloco-2 .text {
    max-width: 330px;
    margin-left: 40px;
    font-size: 14px;
}

.bloco-2 p {
    font-size: 14px;
}

.bloco-2 .button-3 {
    margin-top: 50px;
}

.bloco-2 .button-3 a {
    border: 1px solid #12B76A;
    border-radius: 5px;
    color: #12B76A;
    margin-left: 300px;
    font-size: 14px;
    padding: 10px 10px;    
}

footer section {
    margin-left: 215px;
}

footer p {
    margin: 0;
    margin-left: 150px;
}

footer ul {
    bottom: 18px;
    margin-top: 0;
    margin-left: 790px;
    position: relative;
}

footer li {
    float: left;
    margin-right: 40px;
}

footer li:nth-child(1){
    list-style: none;
}