body {
    font-family: "Lato", sans-serif;
    margin: 0;
}

main {
    text-align: left;
    max-width: 750px;
    margin: auto;
    font-size: 20px;
}

i {
    color: #FFC82C;
    margin: 5px;
}

.midias {
    background-color: #203C86;
    color: #ffffff;
    height: 100%;
}

.redes-sociais {
    text-align: right;
    padding: 10px;
    padding-right: 115px;
    font-size: 14px;
}

.logo-1 {
    border-top: #ffffff solid 1px; 
    padding-left: 100px;
    padding-bottom: 10px;
}

.logo-1 img {
    padding-top: 15px;
    margin-left: 150px;
}

div nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    font-size: 20px;
} 

nav {
    float: right;
    margin-top: 30px;
    padding-right: 100px;
}

nav .ativo {
    border-bottom: 4px solid #FFC82C;
    font-weight: bold;
    padding-bottom: 20px;
}

h1 {
    font-weight: 600;
    padding-right: 194px;
    margin-bottom: 25px;
    margin-top: 100px;
}

.azul {
    color:#203C86;  
    font-size: 20px;
}

.comentario {
    float: right;
    font-style: italic;
}

.comentario div {
    text-align: right;
    font-size: small;
    color: #5d5d5d;
}

figure {
    margin: 0;
}

.logo-2 img {
    margin-bottom: 40px;
    padding-right: 700px;
    width: 210px;
}

.conteudo p, .bloco3, .bloco4 {
    line-height: 30px;
}

.conteudo h2 {
    margin: 0;
}