body {
    font-family: "lato", sans-serif;
    margin: auto;
}

i {
    color: #FFC82C;
    margin: 5px ;
}

.midias {
    background-color: #203C86;
    color: #ffffff;
    height: 100%;
}

.redes-sociais {
    text-align: right;
    padding: 10px;
    font-size: 12px;
}

.logo-1 {
    border-top: #ffffff solid 1px; 
}

.logo-1 img {
    padding: 30px;
}

div nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
} 







