body {
    font-family: "Lato", sans-serif;
    margin: 0;
}

header {
    width: auto;
}

i {
    color: #FFC82C;
    margin: 5px;
}

.midias {
    background-color: #203C86;
    color: #ffffff;
    height: 100%;
}

.redes-sociais {
    text-align: right;
    padding: 10px;
    padding-right: 170px;
    font-size: 11px;
    font-weight: 100;
}

.logo-1 {
    border-top: #ffffff solid 1px; 
    padding-left: 100px;
    padding-bottom: 10px;
}

.logo-1 img {
    padding-top: 15px;
    margin-left: 140px;
}

div nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    font-size: 16px;
} 

nav {
    float: right;
    margin-top: 30px;
    padding-right: 155px;
}

nav .ativo {
    border-bottom: 4px solid #FFC82C;
    font-weight: bold;
    padding-bottom: 28px;
}

main {
    text-align: left;
    max-width: 750px;
    margin: auto;
    margin-right: auto;
    font-size: 20px;
}

h1 {
    font-weight: 600;
    padding-right: 194px;
    margin-bottom: 25px;
    margin-top: 100px;
}

.azul {
    color:#2648A1;  
    font-size: 20px;
    font-style: italic;
    margin: 0;
}

.comentario {
    float: right;
}

.comentario div {
    text-align: right;
    font-size: small;
    color: #5d5d5d;
}

figure {
    margin: 0;
}

.logo-2 img {
    margin-bottom: 40px;
    padding-right: 700px;
    width: 210px;
}

.conteudo p, .bloco3, .bloco4 {
    line-height: 30px;
}

.conteudo .sub-titulo{
    font-size: 14px;
    color: #2648A1;
    margin-top: 60px;
}

.conteudo .sub-titulo h2 {
    margin: 0;
    font-size: 25px;
}

span { 
    display: inline-block;
    width: 95px;
    height: 6px;
    background-color: #FFC82C;
}

.paragrafo-2 {
    max-width: 440px;
}

.conteudo div .conteudo-imagem {
    height: 300px;
}

.conteudo-imagem {
    width: 400px;
    
    position: relative;
    left: 500px;
    bottom: 310px;
}

.conteudo-imagem img {
    margin-bottom: 0;
}

.conteudo-imagem div {
    border: solid 1px #2648A1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 75px;
    height: 65px;
}

.pdp {
    margin-bottom: 0;
    margin-top: 8px;
}

.conteudo-imagem div small {
    font-size: 15px;
    padding-bottom: 5px;
}

.conteudo-imagem .pdp, small {
    margin-left: 20px;
    color: #2648A1; 
}

.imagens-praias {
    display: inline-block;
    margin: 0;
    
}

.praias h2 {
    color: #2648A1;
    margin-top: 0;
}

.praias .cinza {
    margin-top: 0;
}

footer {
    background: linear-gradient(130deg, #0D3F82 2.84%, #001736 73.02%);
    margin-top: 70px;
}

footer i {
    color: #ffffff;
    float: left;
}



    